body {
    background-color: #21252b;
    user-select: none;
}

.tab-content {
    background-color: #36393f;
}

.remove-button {
    margin: -5px;
    width: 34px;
    height: 34px;
    float: right;
    background-color: transparent;
    border-width: 0px;
    transition: 200ms;
}

.remove-button:hover {
    background-color: #6d7480;
}

.taskItem {
    background-color: #2f3136;
    padding: 10px;
    transition: 200ms;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #000000;
}

.taskItem p {
    width: 200px;
    max-width: 200px;
}

.taskItem+.taskItem {
    margin-top: 10px;
}

.taskItem:hover {
    background-color: #41454c;
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.317) */
}

.addTask {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, .75);
    transition: 200ms;
    opacity: 0;
    /* backdrop-filter: blur(3px); */
}

.addTask-display {
    /* display: block !important; */
    opacity: 1 !important;
}

.addTask>div {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 25%;
    left: 10%;
    background-color: #36393f;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 80px 0 5px 0;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgb(117, 117, 117);
}

/* ::-webkit-scrollbar {
    display: none;
} */
html {
    overflow-y: overlay;
}

.titlebar {
    background-color: #2e323b;
    user-select: none;
    -webkit-app-region: drag;
    height: 30px;
    padding: 5px;
}

.titlebar img {
    user-select: none;
    -webkit-app-region: no-drag;
    cursor: pointer;
    margin-left: 5px;
}

.titlebar p {
    color: #b9bbbe;
    padding-left: 5px;
}

.progress-bar {
    background-color: #21252b;
    height: 32px;
    padding: 4px;
    border-radius: 5px;
  }

  .progress-bar span {
    background-color: #5e6066;
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    transition: width .4s ease-in-out;
    color:#dfe8f6
  }